.track-list {
  margin: 10px;
}

.library-row, .queue-row {
  padding-left: 0px;
}

.library-row > box.header {
  padding-left: 0px;
  margin-left: 0px;
}

.current-track {
  background: alpha(@accent_bg_color, 0.3);
}

.current-track:hover {
  background: alpha(@accent_bg_color, 0.5);
}

.album-view {
  margin-left: 10px;
  margin-right: 10px;
}

.album-card {
  background: @sidebar_bg_color;
  padding: 10px;
}

.progress-box {
  padding: 5px;
  padding-top: 0px;
}

.header-accent {
  background: @accent_bg_color;
}

.progress-bar { color: @window_fg_color; }
.progress-bar > trough highlight { min-height: 9px; min-width: 9px; }
.progress-bar > trough slider { opacity: 0; }
.progress-bar {
  margin: 0px;
  padding: 0px;
}

.volume-slider {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
