.track-list {
  margin: 20px;
}

.album-view {
  padding: 20px;
}

.progress-box {
  padding-left: 5px;
  padding-right: 5px;
}

.progress-bar { color: @window_fg_color; }
.progress-bar > trough highlight { min-height: 9px; min-width: 9px; }
.progress-bar > trough slider { opacity: 0; }
.progress-bar {
  margin: 0px;
}
