/* The track list needs a tiny margin just to avoid ugly shadows on the corners */
.track-list {
  margin: 1px;
}

.library-row, .queue-row {
  padding-left: 0px;
}

.queue-row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}

.queue-row .prefix {
  padding-right: 8px;
}

.library-row.header {
  margin-left: 0px;
}

#current-track {
  background: alpha(@accent_bg_color, 0.3);
}

#current-track:hover {
  background: alpha(@accent_bg_color, 0.5);
}

#current-track:selected {
 background: alpha(@accent_bg_color, 0.6);
}

#current-track:selected:hover {
 background: alpha(@accent_bg_color, 0.7);
}

.album-view {
  margin: 10px;
}

.album-card {
  background: @sidebar_bg_color;
  padding: 10px;
}
.header-accent {
  background: @accent_bg_color;
}

.progress-bar { color: @window_fg_color; }
.progress-bar > trough highlight { min-height: 9px; min-width: 9px; }
.progress-bar > trough slider { opacity: 0; }
.progress-bar {
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
}

.volume-slider {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.song-title-box, .upper-player-controls {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.upper-player-controls * {
  margin-bottom: 0px;
}

.lower-player-controls {
  padding: 5px;
  padding-top: 0px;
}

.song-title-box {
  margin-top: 0px;
}

.song-title {
  margin: 0px;
  padding: 0px;
  font-size: large;
}

.time-label {
  padding-left: 0px;
  padding-right: 0px;
}
