
.play-button {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  /* max-width: 40px; */
  /* max-height: 40px; */
  /* height: 40px; */
}

.skip-button {
  border-radius: 50%;
}

.track-list {
  margin: 20px;
}

.album-view {
  padding: 20px;
}

